<ion-header>
  <ion-navbar>
    <ion-title>
      Dados Abertos Deputados
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <img src="../assets/imgs/dadosabertos.png"/>
    <ion-item>
      <ion-label floating>Deputado</ion-label>
      <ion-input [(ngModel)]="nomeDeputado"></ion-input>
    </ion-item>
  
  <button button ion-button round (click)="buscarNomeDeputado()">Buscar Deputado</button>
  <button button ion-button round (click)="buscarDeputados()">Buscar Todos</button>
  <br/>
  <button button ion-button round (click)="removerDeputado()">Limpar</button>
  <div *ngFor="let dados of deputado">
    <ion-card (click)="despesasDeputado(dados.id)">
      <img class="img center" [src]="dados.urlFoto">
      <ion-card-content>
        <ion-card-title>
          {{dados.nome}}
          </ion-card-title>
        <p>
          <b>Sigla Partido: </b>{{dados.siglaPartido}}<br>
          <b>Sigla Estado: </b>{{dados.siglaUf}}<br>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


