.button {
    background-color: #0000cc;
    color: #000000;
    color: #ffffff;
    width: 97%;
    font: bold;
}

.img {
    width: 65%;
    height: 86%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px grey;
}

.center {
    margin: auto;
    width: 50%;
    border: 1px solid gray;
    padding: 2px 0;
}

#boxshadow img {
    width: 100%;
    border: 2px solid #000000;
    border-style: inset;
}
