<ion-header>

  <ion-navbar>
    <ion-title>Despesas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngFor="let dados of despesas">
        <ion-card>
          <ion-card-content>
            <p>
              <b>Nome do fornecedor: </b>{{dados.nomeFornecedor}}<br>
              <b>Mês/Ano</b>{{dados.mes}}<b>/</b>{{dados.ano}}<br>
              <b>Tipo do documento: </b>{{dados.tipoDocumento}}<br>
              <b>Valor líquido: </b>{{dados.valorLiquido}}<br>
            </p>
          </ion-card-content>
        </ion-card>
      </div>
</ion-content>
